.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  width: 100%;
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.results-map {
  width: 100%;
  height: 100vh;
}

.filter-pane {
  width: 450px;
  height: 97.4vh;
  display: flex;
  flex-direction: column;
  border: 10px solid #eee;
  margin: 0;
  box-sizing: inherit;
}

.filter-pane header {
  background: #eee;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.filter-pane header h1 {
  font-size: 1.25em;
  margin-top: 0;
}

.filter-box {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 3px;
}

.filter-box select {
  margin-left: 5px;
  font-size: 1em;
}

.filter-pane main {
  flex: 1;
}

.results-container {
  height: 100%;
  overflow-y: auto;
}

.results-list {
  width: 97%;
  margin: 0;
  padding: 5px;
}

.item {
  display: block;
  text-align: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  background: white;
  border: none;
  cursor: pointer;
}

.item:hover {
  background: aliceblue 
}

.result-name {
  font-size: 1em;
  margin: 0.4em 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 450px;
}

.item .result-name {
  font-weight: normal;
}

.result-details {
  margin: 0.4em 0;
  font-size: 0.85em;
}

.item .result-details {
  color: #666;
}

.item.opened {
  background: #E3F2FD;
}

.result-info-window {
  font-size: 16px;
}

.filter-pane footer {
  color: #666;
  background-color: #eee;
  font-size: 0.8em;
  padding: 10px 0 0 15px;
}

.error-message {
  margin: 15px;
}

/* Responsive styles for mobile screens */
@media screen and (max-width: 700px) {
  .App {
    flex-direction: column;
    width: 100%;
  }
  .filter-pane {
    display: flex;
    width: 95.5%;
    height: 45vh;
  }
  .filter-box {
    width: 95%;
  }
  .results-map {
    height: 50vh;
  }
}